<!doctype html>
<html class="no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'head' -%}

    {{ content_for_header }}
  </head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-line-design{% endif %}"
    data-animations="{{ settings.animations_enable }}"
  ><main role="main" id="MainContent" class="main-content">
        {{ content_for_layout }}
      </main></body>
</html>
